body {
  margin: 0;
  background-image: url('./images/glass.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: white;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.task-area {
  border: 1px solid lightgray;
  margin-top: 2em;
}
.task-tabs {
  display: flex;
  border-bottom: 1px solid lightgray;
  position: relative;
}
#under-line {
  height: 4px;
  background-color: #8fbc8b;
  position: absolute;
  width: 60px;
  left: 0;
  top: 44px;
  padding: 0;
  transition: 0.5s;
}
.task-tabs div {
  padding: 1em;
  cursor: pointer;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.task-done {
  text-decoration: line-through;
}
